body {
  background: linear-gradient(#051f30, #000000);
}


.second-section{
  width: 72%;
  position: relative;
  top: 9%;
  left: 15%;
}

section {
  width: 72%;
  position: relative;
  top: 9%;
  left: 15%;
 
  
}

/* responsive section */

@media screen and (width < 1036px) {
  section {
   
    margin: 0 55px;
  }
}

/* Activar para configurar el formulario nuevo */
form {
  margin: 0 auto;
  display:block;
  width: 420px;
  padding-bottom:2em;
  border-radius:0.5em;
}



fieldset {
  display: inline;
}

/* fielset */

@media screen and (width < 430px) {
  fieldset {
    display: inline;
  }
}

label {
  color:white;
  display:block;
  width:100%;
}



input, select, textarea  {
  display:inline-block;
  width: 100%;
  margin: 10px auto;
  font-size:16px;
  border:none;
}
/* responsivo dentro del formulario */

@media screen and (width < 430px) {
  input, select, textarea  {
    display:inline-block;
    width: 100%;
    margin: 10px auto;
    font-size:16px;
    border:none;
  }
}


#textarea {
  border-radius: 0.5em;
}
#submit {
  display: block;
  margin: 0 auto;
}



/* Segundo formulario */

.second-form {
  display: inline-block;
}
/* Responsivo de los formularios*/
@media screen and (width < 516px) {
  form, .second-form {
    margin: 0px auto;
    display: inline-grid;
    width: 337px;
    padding: 0px;
    justify-items: stretch;

  }
}

.alert
{
  width: 20%;
  position: relative;
  top: -70%;
  left: 80%;
}