body {
  background: -webkit-linear-gradient(to right, #051f30, #000000);

  background: linear-gradient(#051f30, #000000);

  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

label {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.form-label-group{
 width: 50%;
 display: inline-table;

}



#id_password {
  width: 220px;
  border-radius: 5px;

}

#id_email {

  width: 220px;
  border-radius: 5px;
}


.custom-icon {
  font-size: 2rem;
  /* Tamaño del icono */

}

form {
  padding: 20px;
  border-radius: 5px;
  width: 25%;
  height: 70%;

}