{% extends "base.html" %}
{% block title%} Dashboard {% endblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block content %}
<!-- if que se hizo con jinja loop para que si el usuario es usuario regular le muestre la prden de trabajo y else que le muestrre la aceptacion de la orden de trabajo al empleado -->
{% if request.user.is_active == 1 %}
<!--usuario regular -->
<section>
  {{ form.errors }}
  <form  method="post" >
    {% csrf_token %}
    <fieldset>
      <label  for="typeMonedaX">Moneda de Cotización</label>
      <input class="form-control input-control" id="Moneda" type="text" name="Moneda" required>
      <label  for="typesolicitanteX">Solicitante</label>
      <input class="form-control input-control" id="Solicitante" type="text" name="Solicitante" required>
      <label  for="typeEmpresaX">Nombre de la Empresa</label>
      <input class="form-control input-control" id="Empresa" type="text" name="Empresa" required>
    </fieldset>
    <fieldset>
      <label  for="typeDireccionX">Direccion</label>
      <input class="form-control 0" id="Direccion" type="text" name="Direccion" required>
      <label  for="typeTelefonoX">Telefono</label>
      <input class="form-control input-control" id="Telefono" type="number" name="Telefono" required>
      <label  for="typeCantidadX">Cantidad</label>
      <input class="form-control input-control" id="Cantidad" type="number" name="Cantidad" required>
    </fieldset>
    <div class="textarea">
      <label for="typetextareaX">Detalles del Pedido:</label>
      <textarea name="textarea" id="textarea" cols="3" rows="6"></textarea>

      
      <a href="{% url 'web:dashboard' %}"></a><button class="btn btn-primary" id="submit" type="submit" value="Enviar">Realizar pedido</button>
    </div>
  </form>
</section>
{% else %}
<!-- usuario trabajo -->

{% endif %}
{% endblock %}