{% extends "base.html" %}

{% block title%} Dashboard {% endblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% block content %}
{% if request.user.is_cliente == 1 %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        <label for="Moneda">Moneda de Cotización:</label>
      </div>
      <div class="col-6">
        <input  id="Moneda" type="text" name="Moneda" placeholder="Ejemplo MXN" required>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="Solicitante">Solicitante: </label>
      </div>
      <div class="col-6">
        <input id="Solicitante" type="text" name="Solicitante" placeholder="Tu Nombre.." value="{{ request.user }}" readonly>
      </div>
    </div> 
    <div class="row">
      <div class="col-6">
        <label for="Empresa">Empresa:</label>
      </div>
      <div class="col-6">
        <input id="Empresa" type="text" name="Empresa"placeholder="Nombre de la Empresa" required>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="Direcion">Direccion:</label>
      </div>
      <div class="col-6">
        <input id="Direccion" type="text" name="Direccion" placeholder="Ubicacion de la Empresa" required>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="Telefono">Telefono:</label>
      </div>
      <div class="col-6">
        <input id="Telefono" type="number" name="Telefono" required>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="Cantidad">Cantidad:</label>
      </div>
      <div class="col-6">
        <input id="Cantidad" type="number" name="Cantidad" required>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="textarea">Detalles:</label>
      </div>
      <div class="col-6">
        <textarea name="Detalles" id="textarea" placeholder="Da mas Detalles de lo que quieres.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>



{% else %}



{% endif %}



{% endblock %}